<div class="col-5 my-3 s-doctor p-3">
    <a href="/reserve?doctorId={{this._id}}" class="d-flex flex-column card-link">
        <h4 class="titles">Especialidad: {{this.specialty}}</h4>
        <p class="texts ml-2">Calle: {{this.address.streetAddress}}</p>
        <p class="texts ml-2">Delegación : {{this.address.borough}}</p>
        <p class="texts ml-2">Médico: {{this.name}} {{this.paternalLastName}} {{this.maternalLastName}}</p>
        <p class="texts ml-2">Calificación : 4.5</p>
    </a>
</div>