<div class="row">
	<div class="col-12 my-5">
		<div class="row justify-content-center align-items-center">
			<div class="col-11">
				<div class="row">
					<div class="col-11 col-md-2 d-flex justify-content-center align-items-start">
						<img class="rounded-circle profile-pic" src="https://via.placeholder.com/100" alt="">
					</div>
					<div class="col-10">
						<div class="row">
							<div class="col-12">
								<h2 class="titles p-title">
									{{user.name}} {{user.paternalLastName}} {{user.maternalLastName}}
								</h2>
							</div>
							<div class="col-12">
								<h4>
									{{user.email}}
								</h4>
							</div>
							<div class="col-12">
								<h4> Cédula : {{user.idCard}}
								</h4>
							</div>
							<div class="col-12">
								<h4>
									Especialidad : {{user.specialty}}
								</h4>
							</div>
							<div class="col-12">
								<h4>
									Consultorio : {{user.location}}
								</h4>
							</div>
							<div class="col-12 d-flex justify-content-start align-items-center my-3">
								<a href="/profile/{{user.role}}/edit">
									<button type="submit" class="btn btn-dark">Editar</button>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<h2 class="titles p-title">
									Previas Citas
								</h2>
								<div class="row justify-content-start align-items-center">
									<div class="col-md-3 col-10 mx-1 my-2 border-boxes border-dark rounded">
										<p class="my-1 font-weight-bold">Cita :</p>
										<p class="my-1 font-weight-bold">Fecha :</p>
										<p class="my-1 font-weight-bold">Consultorio :</p>
										<p class="my-1 font-weight-bold">Paciente :</p>
									</div>
									<div class="col-md-3 col-10 mx-1 my-2 border-boxes border-dark rounded">
										<p class="my-1 font-weight-bold">Cita :</p>
										<p class="my-1 font-weight-bold">Fecha :</p>
										<p class="my-1 font-weight-bold">Consultorio :</p>
										<p class="my-1 font-weight-bold">Paciente :</p>
									</div>
									<div class="col-md-3 col-10 mx-1 my-2 border-boxes border-dark rounded">
										<p class="my-1 font-weight-bold">Cita :</p>
										<p class="my-1 font-weight-bold">Fecha :</p>
										<p class="my-1 font-weight-bold">Consultorio :</p>
										<p class="my-1 font-weight-bold">Paciente :</p>
									</div>
									<div class="col-md-3 col-10 mx-1 my-2 border-boxes border-dark rounded">
										<p class="my-1 font-weight-bold">Cita :</p>
										<p class="my-1 font-weight-bold">Fecha :</p>
										<p class="my-1 font-weight-bold">Consultorio :</p>
										<p class="my-1 font-weight-bold">Paciente :</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<h2 class="titles p-title">
									Próximas citas
								</h2>
								<div class="row justify-content-start align-items-center">
									<div class="col-md-3 col-10 mx-1 my-2 border-boxes border-dark rounded">
										<p class="my-1 font-weight-bold">Cita :</p>
										<p class="my-1 font-weight-bold">Fecha :</p>
										<p class="my-1 font-weight-bold">Consultorio :</p>
										<p class="my-1 font-weight-bold">Paciente :</p>
									</div>
									<div class="col-md-3 col-10 mx-1 my-2 border-boxes border-dark rounded">
										<p class="my-1 font-weight-bold">Cita :</p>
										<p class="my-1 font-weight-bold">Fecha :</p>
										<p class="my-1 font-weight-bold">Consultorio :</p>
										<p class="my-1 font-weight-bold">Paciente :</p>
									</div>
									<div class="col-md-3 col-10 mx-1 my-2 border-boxes border-dark rounded">
										<p class="my-1 font-weight-bold">Cita :</p>
										<p class="my-1 font-weight-bold">Fecha :</p>
										<p class="my-1 font-weight-bold">Consultorio :</p>
										<p class="my-1 font-weight-bold">Paciente :</p>
									</div>
									<div class="col-md-3 col-10 mx-1 my-2 border-boxes border-dark rounded">
										<p class="my-1 font-weight-bold">Cita :</p>
										<p class="my-1 font-weight-bold">Fecha :</p>
										<p class="my-1 font-weight-bold">Consultorio :</p>
										<p class="my-1 font-weight-bold">Paciente :</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<h2 class="titles p-title">
									Expediente
								</h2>
								<div class="row justify-content-start align-items-center">
									<div class="col-md-3 col-5 mx-1 my-2 border-boxes border-dark rounded d-flex justify-content-center align-items-center">
										<p class="my-1">Radiografía</p>
									</div>
									<div class="col-md-3 col-5 mx-1 my-2 border-boxes border-dark rounded d-flex justify-content-center align-items-center">
										<p class="my-1">Radiografía</p>
									</div>
									<div class="col-md-3 col-5 mx-1 my-2 border-boxes border-dark rounded d-flex justify-content-center align-items-center">
										<p class="my-1">Radiografía</p>
									</div>
									<div class="col-md-3 col-5 mx-1 my-2 border-boxes border-dark rounded d-flex justify-content-center align-items-center">
										<p class="my-1">Radiografía</p>
									</div>
									<div class="col-md-3 col-5 mx-1 my-2 border-boxes border-dark rounded d-flex justify-content-center align-items-center">
										<p class="my-1">Radiografía</p>
									</div>
									<div class="col-md-3 col-5 mx-1 my-2 border-boxes border-dark rounded d-flex justify-content-center align-items-center">
										<p class="my-1">Radiografía</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>