<div class="row">
	<div class="col-12 my-5">
		<div class="row justify-content-center align-items-center">
			<div class="col-11">
				<div class="row">
					<div class="col-11 col-md-2 d-flex justify-content-center align-items-start">
						<img class="rounded-circle profile-pic" src="https://via.placeholder.com/100" alt="">
					</div>
					<div class="col-10">
						<div class="row">
							<div class="col-12">
								<h2 class="titles p-title">
									{{doctorInfo.name}} {{doctorInfo.paternalLastName}} {{doctorInfo.maternalLastName}}
								</h2>
							</div>
							<div class="col-12">
								<h4>
									{{doctorInfo.email}}
								</h4>
							</div>
							<div class="col-12">
								<h4> Cédula : {{doctorInfo.idCard}}
								</h4>
							</div>
							<div class="col-12">
								<h4>
									Especialidad : {{doctorInfo.specialty}}
								</h4>
							</div>
							<div class="col-12">
								<h4>
									Consultorio : {{doctorInfo.address.streetAddress}}, {{doctorInfo.address.borough}}
								</h4>
							</div>
						</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="cards-container">
  {{#each days}}
    {{> dayCard this}}
  {{/each}}
</div>